@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.testimonial-area {
    padding: 100px 0;
}

.single-testimonial {
    width: 330px !important;
    background-color: #fff;
    padding: 30px;
    margin: 20px 20px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%)
}

.single-testimonial .testimonial-content {
    padding-top: 25px;
}

.single-testimonial .testimonial-content .author-name {
    font-size: 18px;
    font-weight: 600;
    color: #121212;
    margin-top: 24px;
}

.single-testimonial .testimonial-content .sub-title {
    font-size: 14px;
    line-height: 24px;
    color: #a4a4a4;
}

.single-testimonial .testimonial-image img {
    width: 90px;
    border-radius: 50%;
    display: inline-block;
}

.single-testimonial .testimonial-content .text {
    font-size: 16px;
    line-height: 24px;
    color: #121212;
    border-bottom: 1px solid #cbced1;
    padding-bottom: 24px;
}